<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">疫情数据监测平台</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">国内</a></li>
            <li><a href="{{ url_for('world') }}">国外</a></li>
            <li><a href="{{ url_for('predict') }}">预测</a></li>
            <li><a href="{{ url_for('nb') }}">个别省市</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>