{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/jquery.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/ResizeSensor.js"></script>

            <link rel="stylesheet"  href="https://assets.pyecharts.org/assets/jquery-ui.css">

</head>
<body>
    <style>.box {  }; </style>
        
    <div class="box">
                <div id="acce34b861de4ec3868cb59277d36256" class="chart-container" style="position: absolute; width: 626px; height: 364px; top: 100.32999420166015px; left: 104px;"></div>
    <script>
        var chart_acce34b861de4ec3868cb59277d36256 = echarts.init(
            document.getElementById('acce34b861de4ec3868cb59277d36256'), 'white', {renderer: 'canvas'});
        var option_acce34b861de4ec3868cb59277d36256 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u786e\u8bca\u4eba\u6570",
            "label": {
                "show": false,
                "position": "top",
                "color": "#ffffff",
                "margin": 8
            },
            "mapType": "china",
            "data": [
                {
                    "name": "\u5317\u4eac",
                    "value": 905
                },
                {
                    "name": "\u9999\u6e2f",
                    "value": 1199
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": 707
                },
                {
                    "name": "\u7518\u8083",
                    "value": 163
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": 349
                },
                {
                    "name": "\u56db\u5ddd",
                    "value": 589
                },
                {
                    "name": "\u9655\u897f",
                    "value": 320
                },
                {
                    "name": "\u5e7f\u4e1c",
                    "value": 1637
                },
                {
                    "name": "\u53f0\u6e7e",
                    "value": 447
                },
                {
                    "name": "\u798f\u5efa",
                    "value": 363
                },
                {
                    "name": "\u8fbd\u5b81",
                    "value": 154
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": 582
                },
                {
                    "name": "\u5929\u6d25",
                    "value": 198
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": 1269
                },
                {
                    "name": "\u6c5f\u82cf",
                    "value": 654
                },
                {
                    "name": "\u5185\u8499\u53e4",
                    "value": 238
                },
                {
                    "name": "\u6fb3\u95e8",
                    "value": 46
                },
                {
                    "name": "\u6e56\u5317",
                    "value": 68135
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": 1276
                },
                {
                    "name": "\u6e56\u5357",
                    "value": 1019
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": 991
                },
                {
                    "name": "\u9ed1\u9f99\u6c5f",
                    "value": 947
                },
                {
                    "name": "\u6c5f\u897f",
                    "value": 932
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": 792
                },
                {
                    "name": "\u5e7f\u897f",
                    "value": 254
                },
                {
                    "name": "\u5c71\u897f",
                    "value": 198
                },
                {
                    "name": "\u4e91\u5357",
                    "value": 185
                },
                {
                    "name": "\u6d77\u5357",
                    "value": 171
                },
                {
                    "name": "\u5409\u6797",
                    "value": 155
                },
                {
                    "name": "\u8d35\u5dde",
                    "value": 147
                },
                {
                    "name": "\u65b0\u7586",
                    "value": 76
                },
                {
                    "name": "\u5b81\u590f",
                    "value": 75
                },
                {
                    "name": "\u9752\u6d77",
                    "value": 18
                },
                {
                    "name": "\u897f\u85cf",
                    "value": 1
                }
            ],
            "roam": false,
            "zoom": 1,
            "showLegendSymbol": false,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u786e\u8bca\u4eba\u6570"
            ],
            "selected": {
                "\u786e\u8bca\u4eba\u6570": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4e2d\u56fd\u75ab\u60c5\u7d2f\u8ba1\u786e\u8bca\u4eba\u6570\u5730\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 0,
        "max": 2000,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0,
        "pieces": [
            {
                "max": 100000,
                "min": 9999,
                "label": ">9999\u4eba",
                "color": "#000000"
            },
            {
                "max": 9999,
                "min": 1000,
                "label": "1000-9999\u4eba",
                "color": "#B40404"
            },
            {
                "max": 999,
                "min": 500,
                "label": "500-999\u4eba",
                "color": "#DF0101"
            },
            {
                "max": 499,
                "min": 100,
                "label": "100-499\u4eba",
                "color": "#F78181"
            },
            {
                "max": 99,
                "min": 10,
                "label": "10-99\u4eba",
                "color": "#F5A9A9"
            },
            {
                "max": 9,
                "min": 0,
                "label": "1-9\u4eba",
                "color": "#FFFFCC"
            }
        ]
    }
};
        chart_acce34b861de4ec3868cb59277d36256.setOption(option_acce34b861de4ec3868cb59277d36256);
    </script>
<br/>                <div id="9d2e35df0f60459ebd62817130a9675b" class="chart-container" style="position: absolute; width: 632px; height: 361px; top: 95.72999572753906px; left: 672px;"></div>
    <script>
        var chart_9d2e35df0f60459ebd62817130a9675b = echarts.init(
            document.getElementById('9d2e35df0f60459ebd62817130a9675b'), 'white', {renderer: 'canvas'});
        var option_9d2e35df0f60459ebd62817130a9675b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#ac35ab",
        "#000000",
        "#e83132",
        "#10aeb5",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u7d2f\u8ba1\u786e\u8bca",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2020-02-21",
                    75571
                ],
                [
                    "2020-02-22",
                    76396
                ],
                [
                    "2020-02-23",
                    77048
                ],
                [
                    "2020-02-24",
                    77269
                ],
                [
                    "2020-02-25",
                    77785
                ],
                [
                    "2020-02-26",
                    78195
                ],
                [
                    "2020-02-27",
                    78631
                ],
                [
                    "2020-02-28",
                    78962
                ],
                [
                    "2020-02-29",
                    79394
                ],
                [
                    "2020-03-01",
                    79972
                ],
                [
                    "2020-03-02",
                    80175
                ],
                [
                    "2020-03-03",
                    80303
                ],
                [
                    "2020-03-04",
                    80424
                ],
                [
                    "2020-03-05",
                    80581
                ],
                [
                    "2020-03-06",
                    80734
                ],
                [
                    "2020-03-07",
                    80815
                ],
                [
                    "2020-03-08",
                    80868
                ],
                [
                    "2020-03-09",
                    80905
                ],
                [
                    "2020-03-10",
                    80932
                ],
                [
                    "2020-03-11",
                    80969
                ],
                [
                    "2020-03-12",
                    80981
                ],
                [
                    "2020-03-13",
                    81007
                ],
                [
                    "2020-03-14",
                    81029
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u9884\u6d4b\u786e\u8bca",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2020-02-21",
                    77024.56010722049
                ],
                [
                    "2020-02-22",
                    77246.81767741295
                ],
                [
                    "2020-02-23",
                    77469.71658665522
                ],
                [
                    "2020-02-24",
                    77693.25868560627
                ],
                [
                    "2020-02-25",
                    77917.44583026551
                ],
                [
                    "2020-02-26",
                    78142.27988198824
                ],
                [
                    "2020-02-27",
                    78367.76270750114
                ],
                [
                    "2020-02-28",
                    78593.8961789177
                ],
                [
                    "2020-02-29",
                    78820.68217375384
                ],
                [
                    "2020-03-01",
                    79048.12257494345
                ],
                [
                    "2020-03-02",
                    79276.21927085408
                ],
                [
                    "2020-03-03",
                    79504.97415530247
                ],
                [
                    "2020-03-04",
                    79734.38912757055
                ],
                [
                    "2020-03-05",
                    79964.46609242092
                ],
                [
                    "2020-03-06",
                    80195.2069601129
                ],
                [
                    "2020-03-07",
                    80426.6136464182
                ],
                [
                    "2020-03-08",
                    80658.68807263701
                ],
                [
                    "2020-03-09",
                    80891.43216561376
                ],
                [
                    "2020-03-10",
                    81124.84785775332
                ],
                [
                    "2020-03-11",
                    81358.93708703695
                ],
                [
                    "2020-03-12",
                    81593.70179703832
                ],
                [
                    "2020-03-13",
                    81829.14393693978
                ],
                [
                    "2020-03-14",
                    82065.26546154848
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u7d2f\u8ba1\u6b7b\u4ea1",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2020-02-21",
                    2239
                ],
                [
                    "2020-02-22",
                    2348
                ],
                [
                    "2020-02-23",
                    2445
                ],
                [
                    "2020-02-24",
                    2596
                ],
                [
                    "2020-02-25",
                    2666
                ],
                [
                    "2020-02-26",
                    2718
                ],
                [
                    "2020-02-27",
                    2747
                ],
                [
                    "2020-02-28",
                    2791
                ],
                [
                    "2020-02-29",
                    2838
                ],
                [
                    "2020-03-01",
                    2873
                ],
                [
                    "2020-03-02",
                    2915
                ],
                [
                    "2020-03-03",
                    2948
                ],
                [
                    "2020-03-04",
                    2984
                ],
                [
                    "2020-03-05",
                    3016
                ],
                [
                    "2020-03-06",
                    3045
                ],
                [
                    "2020-03-07",
                    3073
                ],
                [
                    "2020-03-08",
                    3101
                ],
                [
                    "2020-03-09",
                    3124
                ],
                [
                    "2020-03-10",
                    3140
                ],
                [
                    "2020-03-11",
                    3162
                ],
                [
                    "2020-03-12",
                    3173
                ],
                [
                    "2020-03-13",
                    3181
                ],
                [
                    "2020-03-14",
                    3194
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u9884\u6d4b\u6b7b\u4ea1",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2020-02-21",
                    2261.342140468226
                ],
                [
                    "2020-02-22",
                    2365.611249619944
                ],
                [
                    "2020-02-23",
                    2460.0200495157005
                ],
                [
                    "2020-02-24",
                    2545.1770837857784
                ],
                [
                    "2020-02-25",
                    2621.69089606046
                ],
                [
                    "2020-02-26",
                    2690.1700299700287
                ],
                [
                    "2020-02-27",
                    2751.2230291447677
                ],
                [
                    "2020-02-28",
                    2805.4584372149584
                ],
                [
                    "2020-02-29",
                    2853.484797810884
                ],
                [
                    "2020-03-01",
                    2895.910654562828
                ],
                [
                    "2020-03-02",
                    2933.3445511010723
                ],
                [
                    "2020-03-03",
                    2966.3950310559003
                ],
                [
                    "2020-03-04",
                    2995.6706380575943
                ],
                [
                    "2020-03-05",
                    3021.779915736437
                ],
                [
                    "2020-03-06",
                    3045.331407722712
                ],
                [
                    "2020-03-07",
                    3066.933657646701
                ],
                [
                    "2020-03-08",
                    3087.1952091386875
                ],
                [
                    "2020-03-09",
                    3106.7246058289534
                ],
                [
                    "2020-03-10",
                    3126.1303913477827
                ],
                [
                    "2020-03-11",
                    3146.0211093254575
                ],
                [
                    "2020-03-12",
                    3167.00530339226
                ],
                [
                    "2020-03-13",
                    3189.691517178474
                ],
                [
                    "2020-03-14",
                    3214.688294314382
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7d2f\u8ba1\u786e\u8bca",
                "\u9884\u6d4b\u786e\u8bca",
                "\u7d2f\u8ba1\u6b7b\u4ea1",
                "\u9884\u6d4b\u6b7b\u4ea1"
            ],
            "selected": {
                "\u7d2f\u8ba1\u786e\u8bca": true,
                "\u9884\u6d4b\u786e\u8bca": true,
                "\u7d2f\u8ba1\u6b7b\u4ea1": true,
                "\u9884\u6d4b\u6b7b\u4ea1": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-02-21",
                "2020-02-22",
                "2020-02-23",
                "2020-02-24",
                "2020-02-25",
                "2020-02-26",
                "2020-02-27",
                "2020-02-28",
                "2020-02-29",
                "2020-03-01",
                "2020-03-02",
                "2020-03-03",
                "2020-03-04",
                "2020-03-05",
                "2020-03-06",
                "2020-03-07",
                "2020-03-08",
                "2020-03-09",
                "2020-03-10",
                "2020-03-11",
                "2020-03-12",
                "2020-03-13",
                "2020-03-14"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e2d\u56fd\u75ab\u60c5\u968f\u65f6\u95f4\u53d8\u5316\u8d8b\u52bf",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_9d2e35df0f60459ebd62817130a9675b.setOption(option_9d2e35df0f60459ebd62817130a9675b);
    </script>
<br/>                <div id="89215cdead91468e82672c734eae2efa" class="chart-container" style="position: absolute; width: 572px; height: 259px; top: 471.1299743652344px; left: 101px;"></div>
    <script>
        var chart_89215cdead91468e82672c734eae2efa = echarts.init(
            document.getElementById('89215cdead91468e82672c734eae2efa'), 'white', {renderer: 'canvas'});
        var option_89215cdead91468e82672c734eae2efa = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "confirmedCount",
                    "value": 85173
                },
                {
                    "name": "curedCount",
                    "value": 80019
                },
                {
                    "name": "deadCount",
                    "value": 4648
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "confirmedCount",
                "curedCount",
                "deadCount"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u75ab\u60c5\u997c\u72b6\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_89215cdead91468e82672c734eae2efa.setOption(option_89215cdead91468e82672c734eae2efa);
    </script>
<br/>                <div id="a43fc110a07347e0b20888ef8784e48b" class="chart-container" style="position: absolute; width: 654px; height: 260px; top: 471.5299987792969px; left: 656px;"></div>
    <script>
        var chart_a43fc110a07347e0b20888ef8784e48b = echarts.init(
            document.getElementById('a43fc110a07347e0b20888ef8784e48b'), 'white', {renderer: 'canvas'});
        var option_a43fc110a07347e0b20888ef8784e48b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                10,
                70
            ],
            "data": [
                {
                    "name": "\u80ba\u708e",
                    "value": 0.3510431640646054,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,30,58)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u4f8b",
                    "value": 0.34413370030813684,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,23,67)"
                        }
                    }
                },
                {
                    "name": "\u65b0\u51a0",
                    "value": 0.32439843023347986,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,88,80)"
                        }
                    }
                },
                {
                    "name": "\u786e\u8bca",
                    "value": 0.3236827923048156,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,8,73)"
                        }
                    }
                },
                {
                    "name": "\u7d2f\u8ba1",
                    "value": 0.1470889170798624,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(27,66,3)"
                        }
                    }
                },
                {
                    "name": "\u65b0\u589e",
                    "value": 0.13981441474006304,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,36,127)"
                        }
                    }
                },
                {
                    "name": "\u4f0a\u6717",
                    "value": 0.10151461857393464,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,52,108)"
                        }
                    }
                },
                {
                    "name": "\u6b7b\u4ea1",
                    "value": 0.1004096151374355,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(110,13,77)"
                        }
                    }
                },
                {
                    "name": "\u51fa\u9662",
                    "value": 0.09952595253468374,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(118,56,141)"
                        }
                    }
                },
                {
                    "name": "\u6cbb\u6108",
                    "value": 0.09459443816990255,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(10,131,67)"
                        }
                    }
                },
                {
                    "name": "\u60a3\u8005",
                    "value": 0.0824877237927919,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,103,68)"
                        }
                    }
                },
                {
                    "name": "12",
                    "value": 0.07310387160191095,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(75,120,90)"
                        }
                    }
                },
                {
                    "name": "24",
                    "value": 0.05939689567655265,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,52,83)"
                        }
                    }
                },
                {
                    "name": "\u622a\u81f3",
                    "value": 0.05878076970497993,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(159,11,78)"
                        }
                    }
                },
                {
                    "name": "\u5f53\u5730",
                    "value": 0.058251980281291804,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(159,153,17)"
                        }
                    }
                },
                {
                    "name": "\u4f8b\u65b0\u51a0",
                    "value": 0.05711239968899293,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,132,158)"
                        }
                    }
                },
                {
                    "name": "11",
                    "value": 0.054827903701433214,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,10,13)"
                        }
                    }
                },
                {
                    "name": "\u51a0\u72b6\u75c5\u6bd2",
                    "value": 0.0540222652414485,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(86,116,112)"
                        }
                    }
                },
                {
                    "name": "\u611f\u67d3\u8005",
                    "value": 0.05293591535805848,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(97,82,4)"
                        }
                    }
                },
                {
                    "name": "\u97e9\u56fd",
                    "value": 0.0504186605545194,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,80,84)"
                        }
                    }
                },
                {
                    "name": "14",
                    "value": 0.050258911726313776,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,23,96)"
                        }
                    }
                },
                {
                    "name": "\u65e5\u672c",
                    "value": 0.04878910191576152,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,49,58)"
                        }
                    }
                },
                {
                    "name": "\u75ab\u60c5",
                    "value": 0.047904253912602716,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,9,136)"
                        }
                    }
                },
                {
                    "name": "\u7591\u4f3c\u75c5\u4f8b",
                    "value": 0.04782871504261418,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,149,72)"
                        }
                    }
                },
                {
                    "name": "10",
                    "value": 0.045689919751194345,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,21,1)"
                        }
                    }
                },
                {
                    "name": "\u611f\u67d3",
                    "value": 0.04559624367518631,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(48,122,112)"
                        }
                    }
                },
                {
                    "name": "\u610f\u5927\u5229",
                    "value": 0.041735758964160145,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,113,115)"
                        }
                    }
                },
                {
                    "name": "\u6b66\u6c49",
                    "value": 0.0414072545953755,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,151,108)"
                        }
                    }
                },
                {
                    "name": "\u65f6\u95f4",
                    "value": 0.03975855556190713,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,155,142)"
                        }
                    }
                },
                {
                    "name": "28",
                    "value": 0.038836431788515195,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,3,94)"
                        }
                    }
                },
                {
                    "name": "\u9694\u79bb",
                    "value": 0.03748746755309765,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(98,110,91)"
                        }
                    }
                },
                {
                    "name": "\u90ae\u8f6e",
                    "value": 0.03615087173798968,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,131,80)"
                        }
                    }
                },
                {
                    "name": "\u65b0\u578b",
                    "value": 0.03543616311019492,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(16,86,83)"
                        }
                    }
                },
                {
                    "name": "\u536b\u751f\u90e8",
                    "value": 0.03498200882319511,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(19,12,126)"
                        }
                    }
                },
                {
                    "name": "13",
                    "value": 0.03198294382583604,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(137,11,19)"
                        }
                    }
                },
                {
                    "name": "\u76ee\u524d",
                    "value": 0.0306758629727919,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,144,129)"
                        }
                    }
                },
                {
                    "name": "\u62a5\u9053",
                    "value": 0.030340338971396905,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(133,152,5)"
                        }
                    }
                },
                {
                    "name": "\u516c\u4e3b",
                    "value": 0.030125898119363656,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(146,106,80)"
                        }
                    }
                },
                {
                    "name": "\u5883\u5916",
                    "value": 0.029904642516728454,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(0,16,119)"
                        }
                    }
                },
                {
                    "name": "21",
                    "value": 0.029698447838276326,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(79,55,104)"
                        }
                    }
                },
                {
                    "name": "29",
                    "value": 0.029698447838276326,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(0,27,15)"
                        }
                    }
                },
                {
                    "name": "25",
                    "value": 0.029698447838276326,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,123,5)"
                        }
                    }
                },
                {
                    "name": "\u8f93\u5165",
                    "value": 0.029681422644597746,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,57,80)"
                        }
                    }
                },
                {
                    "name": "\u5317\u6d77\u9053",
                    "value": 0.029300789721964454,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,4,60)"
                        }
                    }
                },
                {
                    "name": "\u5176\u4e2d",
                    "value": 0.02926337954040321,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(143,14,63)"
                        }
                    }
                },
                {
                    "name": "18",
                    "value": 0.027413951850716607,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,93,133)"
                        }
                    }
                },
                {
                    "name": "\u94bb\u77f3",
                    "value": 0.026946853612948594,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(153,133,143)"
                        }
                    }
                },
                {
                    "name": "\u533b\u5b66\u89c2\u5bdf",
                    "value": 0.02691051385367858,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(89,94,150)"
                        }
                    }
                },
                {
                    "name": "\u5f53\u5929",
                    "value": 0.026541960101452322,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,139,150)"
                        }
                    }
                },
                {
                    "name": "\u5bc6\u5207\u63a5\u89e6",
                    "value": 0.026344913093445443,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(13,98,50)"
                        }
                    }
                },
                {
                    "name": "\u4e0b\u5348",
                    "value": 0.025095861568870628,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,141,78)"
                        }
                    }
                },
                {
                    "name": "\u9632\u75ab",
                    "value": 0.02476496775277088,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(51,27,97)"
                        }
                    }
                },
                {
                    "name": "\u9996\u4f8b",
                    "value": 0.02401403113241735,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,41,126)"
                        }
                    }
                },
                {
                    "name": "\u533b\u9662",
                    "value": 0.02240707593070896,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,50,90)"
                        }
                    }
                },
                {
                    "name": "\u963f\u585e\u62dc\u7586",
                    "value": 0.022037572812910376,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(10,128,113)"
                        }
                    }
                },
                {
                    "name": "\u901a\u62a5",
                    "value": 0.021875352670370725,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,64,147)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u6bd2",
                    "value": 0.021261906078310723,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(148,153,72)"
                        }
                    }
                },
                {
                    "name": "\u9632\u63a7",
                    "value": 0.020917352087175618,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,57,92)"
                        }
                    }
                },
                {
                    "name": "\u672c\u90e8",
                    "value": 0.020699470844014904,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(56,71,10)"
                        }
                    }
                },
                {
                    "name": "20",
                    "value": 0.020560463888037457,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,145,90)"
                        }
                    }
                },
                {
                    "name": "\u540d\u65b0\u51a0",
                    "value": 0.020560463888037457,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,148,6)"
                        }
                    }
                },
                {
                    "name": "\u56e0\u65b0\u51a0",
                    "value": 0.020560463888037457,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(157,1,78)"
                        }
                    }
                },
                {
                    "name": "\u5eb7\u590d",
                    "value": 0.020006561252207147,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,19,20)"
                        }
                    }
                },
                {
                    "name": "\u5347\u81f3",
                    "value": 0.019495912109764955,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,158,92)"
                        }
                    }
                },
                {
                    "name": "\u5bf9\u7b56",
                    "value": 0.01834690685661762,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,63,66)"
                        }
                    }
                },
                {
                    "name": "2020",
                    "value": 0.018275967900477738,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(57,33,125)"
                        }
                    }
                },
                {
                    "name": "26",
                    "value": 0.018275967900477738,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,99,135)"
                        }
                    }
                },
                {
                    "name": "17",
                    "value": 0.018275967900477738,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(110,31,86)"
                        }
                    }
                },
                {
                    "name": "\u4e0a\u5348",
                    "value": 0.017890807235744315,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(153,29,91)"
                        }
                    }
                },
                {
                    "name": "\u6e56\u5317",
                    "value": 0.01787397259046436,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(123,2,15)"
                        }
                    }
                },
                {
                    "name": "\u7535\u89c6\u53f0",
                    "value": 0.017553000312990636,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(41,7,105)"
                        }
                    }
                },
                {
                    "name": "\u8868\u793a",
                    "value": 0.01719930886875215,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,16,155)"
                        }
                    }
                },
                {
                    "name": "\u62a5\u544a",
                    "value": 0.016927036329994267,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(85,44,58)"
                        }
                    }
                },
                {
                    "name": "\u603b\u53f0",
                    "value": 0.016832112966329065,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,148,52)"
                        }
                    }
                },
                {
                    "name": "\u8d3e\u6c49",
                    "value": 0.01674005026491496,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(155,25,89)"
                        }
                    }
                },
                {
                    "name": "\u5305\u673a",
                    "value": 0.016525335675291422,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,139,109)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u5929",
                    "value": 0.016452169951339576,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,39,13)"
                        }
                    }
                },
                {
                    "name": "\u6b63\u5728",
                    "value": 0.016018059304838524,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,57,149)"
                        }
                    }
                },
                {
                    "name": "66",
                    "value": 0.01599147191291802,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(30,76,156)"
                        }
                    }
                },
                {
                    "name": "\u5883\u5185",
                    "value": 0.015660010177210013,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,20,85)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u75ab\u60c5\u70ed\u8bcd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_a43fc110a07347e0b20888ef8784e48b.setOption(option_a43fc110a07347e0b20888ef8784e48b);
    </script>
<br/>    </div>
    <script>
            $('#acce34b861de4ec3868cb59277d36256').css('border-style', 'dashed').css('border-width', '0px');$("#acce34b861de4ec3868cb59277d36256>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#acce34b861de4ec3868cb59277d36256'), function() { chart_acce34b861de4ec3868cb59277d36256.resize()});
            $('#9d2e35df0f60459ebd62817130a9675b').css('border-style', 'dashed').css('border-width', '0px');$("#9d2e35df0f60459ebd62817130a9675b>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#9d2e35df0f60459ebd62817130a9675b'), function() { chart_9d2e35df0f60459ebd62817130a9675b.resize()});
            $('#89215cdead91468e82672c734eae2efa').css('border-style', 'dashed').css('border-width', '0px');$("#89215cdead91468e82672c734eae2efa>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#89215cdead91468e82672c734eae2efa'), function() { chart_89215cdead91468e82672c734eae2efa.resize()});
            $('#a43fc110a07347e0b20888ef8784e48b').css('border-style', 'dashed').css('border-width', '0px');$("#a43fc110a07347e0b20888ef8784e48b>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#a43fc110a07347e0b20888ef8784e48b'), function() { chart_a43fc110a07347e0b20888ef8784e48b.resize()});
            var charts_id = ['acce34b861de4ec3868cb59277d36256','9d2e35df0f60459ebd62817130a9675b','89215cdead91468e82672c734eae2efa','a43fc110a07347e0b20888ef8784e48b'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
</body>
{% endblock %}